@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,700;1,400;1,700&display=swap');

.TodoDate{
       width: 150px;
       height: 25px;
       margin-bottom: 10px;
       
       font-family: 'Philosopher', sans-serif;
}
