@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.TodoTitle{
       
        text-align: center;
        font-family: 'Anton', sans-serif;
        font-size: 40px;
        
        color:#99e9f2;
        margin-bottom: 19px;
}
